{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  {% include "../public/center.html"%}
  <section class="news">
    <article>
      <div class="head_list">
        <div class="content">
          <div class="left">
            <a href="" class="head_active">全部</a>
            <a href="">全产业链业务</a>
            <a href="">新资源开发</a>
          </div>
          <div class="right">
            您的位置：<a href="">首页</a> <span>></span> <a href="">产品中心</a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <ul class="news_content">
        {% for item in tempArr %}
        <li>
          <a href="">
            <div class="img">
              <img src="{{static}}/images/1498476780341.jpg" alt="" />
            </div>
            <div class="detail">
              <p class="title">
                李克强对“华龙一号”福清核电5号机组建设工作 作出重要批示
              </p>
              <p class="text">
                中共中央政治局常委、国务院总理李克强日前对“华龙一号”福清核电5号机组建设工作作出重要批示。批示指出：我国自主研发的三代核电“华龙一号”是推进实施中国制造2025的标志性工程
                ...
              </p>
            </div>
            <div class="date">
              <span class="day">07-03</span>
              <span class="arrow"></span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="srrot">
        <a href="" class="left">
          <</a> <a href="" class="num">1
        </a>
        <a href="" class="num">2</a>
        <a href="" class="right">></a>
      </div>
    </article>
  </section>
</main>
{% endblock %}