{% extends "../public/layout.html" %} {% block main %}
<main class="main_list">
  {% include "../public/center.html"%}
  <section class="about">
    <article>
      <div class="about_head">
        <h2>关于我们</h2>
        <div class="en">JSMO.CO</div>
      </div>
      <div class="about1">
        <div class="left">
          <img src="{{static}}/images/1499414772328.jpg" alt="">
        </div>
        <div class="right">
          <p class="p1">
            中国低压电器行业产销量最大企业。公司专业从事配电电器、控制电器、终端电器、电源电器和电力电子等100多个系列、10000多种规格的低压电器产品的研发、生产和销售。公司荣获全国质量管理奖、首届浙江省政府质量奖、首届温州市市长质量奖。
          </p>
          <p class="p2">
            <span class="title">社会公益</span>
            基金将通过竞赛、评选、成果转化、奖励等办法，培养一批创新人才，培育一批创新成果，树立一批创新典型，倡导创新文化，引导青年树立自主创新意识，提高自主创新能力
          </p>
          <p class="p3">
            投身创业创新实践；通过项目竞赛、贴息贷款、导师带徒等办法，改变青年就业观念该基金理事会将每年定期组织开展“创业浙江”大赛，评选产生的创新奖获得者将得到一定金额的奖励主要提供农业实用技术和来料加工业务指导，重点鼓励发展现代农业
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="about2">
        <p class="title">科技改变生活</p>
        <p class="text">中国的努力得到了社会的广泛认可，获得了“大中华区最具领导力企业”“最受赞赏的在华外商投资企业”“亚洲最受尊敬公司二十强”等诸多荣誉，并多次入选“世界500强在华贡献排行榜”且名列前茅
        </p>
        <ul>
          <li>
            <a href="">
              <img src="{{static}}/images/1499415484689.jpg" alt="">
              <p class="text">工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="{{static}}/images/1499415484689.jpg" alt="">
              <p class="text">工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/1499415484689.jpg" alt="">
              <p class="text">工业化的发展将今天的挑战转变为明天的成就。将水行业能源中和的技术已经成熟，丹麦有望在几年内实现这一目标</p>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</main>
{% endblock %}