<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.name}}</title>
  <link rel="stylesheet" href="{{ static }}/css/animate.css">
  <link rel="stylesheet" href="{{ static }}/css/swiper.min.css">
  <script src="{{ static }}/js/jquery-1.11.3.min.js"></script>
  <script src="{{ static }}/js/swiper.min.js"></script>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2008561_ywwlzr533al.css">
  <link rel="stylesheet" href="{{ static }}/css/index.css?{{test}}">
</head>

<body>
  {% include "./header.html"%}
  {% block main%}
  {% endblock %}
</body>

</html>